#root{
  padding: 0 2rem 2rem 2rem;
}

body{
  display: flex;
  justify-content: center;
}

.header{
  border: 1px red solid;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header--ul{
  display: flex;
  list-style-type: none;
}

.header--li{
  margin: 1rem;
}

section{
  padding: 4rem 5rem;
  /* max-width: 1240px; */
}

.hero{
  border: 1px green solid;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.work{
  border: 1px purple solid;
}

.about{
  border: 1px blue solid;
}

.contact{
  border: 1px orange solid;
}
